player-connection-mode=Listen
player-connection-guid=96123020
player-connection-debug=1
player-connection-project-name=GrandGarage CoMeMak
player-connection-ip=172.25.144.1
player-connection-ip=143.224.178.28
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
